<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522511054068-0p4nofabdb2rgvcn40psio1cau153mms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522511054068-0p4nofabdb2rgvcn40psio1cau153mms</string>
	<key>API_KEY</key>
	<string>AIzaSyDv94hBwbz57Oga4ZlQPClBJbHw7_wzMJY</string>
	<key>GCM_SENDER_ID</key>
	<string>522511054068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseProject</string>
	<key>PROJECT_ID</key>
	<string>firebase-first-flutter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>firebase-first-flutter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522511054068:ios:54e1e7bddcc328676f5aa1</string>
</dict>
</plist>